.sl_link .text{
    position:absolute;
    bottom: 25%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0);
    text-align: center;
}

.slick-prev{
    left: 15px;
}

.slick-next{
    right: 15px;
}

/*
#headerwrap #formInHeaderwrap{
     margin-top: 10px;
}
*/

/*
#headerwrap .form{
    padding-left: 18%;
    margin-top: 50px;
     text-align: left;
    color: #ffff;
    font-size: 55px;
       font-family: "GilroyExtraBold";
}*/
